@charset "UTF-8";

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: bolder;
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

.mb45 {
  margin-bottom: 45px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb35 {
  margin-bottom: 30px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb4 {
  margin-bottom: 4px;
}

.ml15 {
  margin-left: 15px;
}

.mt15 {
  margin-top: 15px;
}

.text-color {
  color: #858585;
}

.btn-fill,
.btn-transp {
  width: 190px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.btn-fill {
  background-color: #1254ff;
  color: white;
}

.btn-fill:hover {
  background-color: #1c4fcf;
}

.btn-transp {
  border: solid #1254ff 2px;
  color: #1254ff;
  font-weight: 600;
}

.btn-transp:hover {
  border: solid #1c4fcf 2px;
  color: #1c4fcf;
}

.input-block input,
.input-block textarea {
  border: solid 1px #dadada;
  outline: none;
  height: 60px;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 0 25px;
}

.input-block input:focus,
.input-block textarea:focus {
  border: solid 1px #1254ff;
}

.input-block textarea {
  resize: none;
  padding: 15px 25px;
}

.input-block label {
  color: #858585;
}

.work-hide {
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.text-1 {
  font-size: 20px;
  color: #858585;
}

.text-2 {
  font-size: 18px;
  color: #858585;
}

.text-3 {
  font-size: 16px;
  color: #858585;
}

.text-4 {
  font-size: 14px;
  color: #858585;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: #f8f8f8;
  font-family: "Raleway", sans-serif;
  color: #181818;
  font-weight: 500;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

*,
p,
ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 150%;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #181818;
}

.show992 {
  display: none;
}

.show768 {
  display: none;
}

.show576 {
  display: none;
}

.vh100 {
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.head-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-scroll {
  overflow-y: hidden;
}

.inf-rotate {
  animation: 1s linear 0s normal none infinite running inf-rotate;
  -webkit-animation: 1s linear 0s normal none infinite running inf-rotate;
}

@-webkit-keyframes inf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes inf-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Класс задаётся шапке */

.header-fixed {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
}

.header-fixed-scroll {
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/*
<div class="card-flip">
	<div class="side back">
	</div>
	<div class="side front">
	</div>
</div>
*/

.card-flip {
  border: none;
  background: none;
  position: relative;
  -webkit-transition: all 1.5s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.side {
  border-radius: 15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front {
  position: relative;
}

.back {
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.img-size {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/* 
<div class="place-slide">
	<input type="text" id="name">
	<label for="name">Name</label>
</div>
*/

.place-slide {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 35px;
}

.place-slide input,
.place-slide textarea {
  position: relative;
  z-index: 3;
}

.place-slide input:focus + label,
.place-slide textarea:focus + label {
  top: -16px;
}

.place-slide input:valid,
.place-slide textarea:valid {
  z-index: 10;
}

.place-slide label {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 25px;
  z-index: 5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.popup-show {
  opacity: 1;
  visibility: visible;
}

.popup-wrapper {
  padding: 35px 50px;
  margin: 50px auto;
  width: 850px;
  background: #fff;
  border-radius: 10px;
  z-index: 100;
  opacity: 1;
}

.popup-times {
  width: 23px;
  height: 23px;
  position: relative;
  margin-left: 15px;
}

.popup-times:before,
.popup-times:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #181818;
  position: absolute;
  top: 50%;
  left: -3px;
}

.popup-times:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-times:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.humb {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.humb-show {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.humb-wrapper {
  padding: 35px 50px;
  background: #fff;
  width: 100%;
  min-height: 100%;
  z-index: 100;
}

.humb-btn {
  padding: 10px 0;
}

.humb-icon {
  width: 24px;
  height: 3px;
  background-color: #181818;
  position: relative;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.humb-icon:before,
.humb-icon:after {
  content: "";
  position: absolute;
  background-color: #181818;
  border-radius: 5px;
  display: block;
  width: 24px;
  height: 3px;
}

.humb-icon:before {
  bottom: 7px;
  -webkit-transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: bottom 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, transform 0.2s ease-in;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, transform 0.2s ease-in;
  transition: transform 0.2s ease-in, bottom 0.2s linear 0.2s, transform 0.2s ease-in, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.humb-icon:after {
  top: 7px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s, transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, transform 0.2s ease-in, -webkit-transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.humb-active .humb-icon {
  background-color: transparent;
}

.humb-active .humb-icon:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
  -webkit-transition: bottom 0.2s linear, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s;
  transition: bottom 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.humb-active .humb-icon:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}

.loader {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.loader-show {
  opacity: 1;
  visibility: visible;
}

.loader-spiner {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 30px auto;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #1254ff;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

.loader-spiner:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #1254ff;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}

.loader-spiner:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #1254ff;
  -webkit-animation: spin 1.5s linear infinite;
          animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.header {
  height: 70px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__nav {
  margin-left: auto;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav li {
  text-transform: uppercase;
  font-size: 16px;
}

.header__nav li:not(:last-child) {
  margin-right: 40px;
}

.header__nav a {
  color: #181818;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__nav a:hover {
  color: #1254ff;
}

.header__lang {
  font-weight: 700;
  color: #1254ff;
  border: solid 2px #1254ff;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 50px;
  text-transform: uppercase;
}

.hello {
  background: url("../img/wawes.svg") no-repeat right -100px bottom -50px/cover;
  -webkit-box-shadow: 0px 10px 28px rgba(173, 173, 173, 0.25);
          box-shadow: 0px 10px 28px rgba(173, 173, 173, 0.25);
}

.hello__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.hello__cont {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hello__cont * {
  line-height: 100%;
}

.hello__name p {
  font-size: 42px;
  margin-bottom: 6px;
}

.hello__text {
  line-height: 150%;
}

.hello__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hello__control a:not(:last-child) {
  margin-right: 20px;
}

.hello__social {
  position: absolute;
  bottom: 60px;
  left: 0;
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hello__social a {
  display: block;
  height: calc(100% + 5px);
}

.hello__social a:not(:last-child) {
  margin-right: 18px;
}

.hello__social a:hover {
  padding-bottom: 5px;
}

.hello__photo {
  padding: 160px 10px 0 0;
  overflow: hidden;
}

.hello__photo-correct {
  width: 400px;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hello__photo-correct img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.skills {
  padding: 60px 0;
  position: relative;
}

.skills__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
}

.skills__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__special {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 40px);
          flex: 0 0 calc(50% - 40px);
  margin: 0 20px;
  margin-bottom: 40px;
  background-color: #181818;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 30px;
  cursor: pointer;
  height: 320px;
}

.skills__special:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.skills__special .back {
  width: calc(100% - 60px);
  top: 30px;
}

.skills__element:not(:last-child) {
  margin-bottom: 15px;
}

.skills__progress {
  height: 15px;
  border-radius: 50px;
  overflow: hidden;
}

.skills__toggler {
  background-color: #1254ff;
  height: 100%;
}

.skills__bg {
  position: absolute;
  bottom: 100px;
  left: 0;
  -webkit-transform: rotate(32deg);
      -ms-transform: rotate(32deg);
          transform: rotate(32deg);
  height: 370px;
}

.portfolio {
  padding: 60px 0;
}

.portfolio__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__nav-element {
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__nav-element:not(:last-child) {
  margin-right: 40px;
}

.portfolio__nav-element:hover {
  color: #1254ff;
}

.portfolio__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio__work {
  margin: 0 15px 35px;
  width: calc(25% - 30px);
}

.portfolio__work picture {
  width: 100%;
  height: 100%;
}

.portfolio__img {
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.portfolio__img img {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.portfolio__img img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: none;
          filter: none;
}

.portfolio__btn {
  margin: 0 auto;
}

.reviews {
  padding: 60px 0;
}

.reviews__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews__body {
  background-color: #1254ff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68.8%;
          flex: 0 0 68.8%;
  padding: 30px;
  padding-left: calc((100vw - 1140px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.reviews__body:after {
  content: "";
  position: absolute;
  right: -45px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border-radius: 0 50px 50px 0;
  background-color: #1254ff;
  z-index: 8;
}

.reviews__body p {
  color: white;
}

.reviews__body a {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.reviews__man {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 30px;
  padding-right: calc((100vw - 1140px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ededed;
  border-radius: 10px 0 0 10px;
  text-align: center;
  position: relative;
}

.reviews__man:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 50px;
  height: 90px;
  border-radius: 0 50px 50px 0;
  background-color: #f8f8f8;
  z-index: 5;
}

.reviews__man-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
  border: solid 3.5px #181818;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
}

.slick-dots li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 16px;
  background-color: #ededed;
  border-radius: 100px;
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
}

.slick-dots .slick-active {
  background-color: #1254ff;
}

.contact {
  padding: 60px 0;
  background: url("../img/waves_left.svg") no-repeat left bottom -200px/cover;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 380px;
          flex: 0 0 380px;
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 700px;
          flex: 0 0 700px;
}

.contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__inputs {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
}

.contact__textarea {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57%;
          flex: 0 0 57%;
}

.contact__textarea .place-slide label {
  top: 30px;
}

.contact__textarea .input-block {
  height: calc(100% - 35px);
}

.contact__textarea textarea {
  height: 100%;
}

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 25px;
  text-align: center;
}

.popup-contact__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.popup-contact__btns > *:not(:last-child) {
  margin-right: 20px;
}

.popup-contact__text {
  margin-right: 50px;
}

.popup-contact .popup-wrapper {
  background-color: #f8f8f8;
}

.popup-thanks__btn {
  margin-top: 30px;
}

.popup-work__table {
  margin: 25px 0;
}

.popup-work__work-elem {
  max-height: 500px;
  height: 500px;
  overflow: hidden;
}

.popup-work__work-elem:not(:last-child) {
  margin-bottom: 25px;
}

.popup-work__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.popup-work__btns > *:not(:last-child) {
  margin-right: 20px;
}

.popup-work__text {
  margin-right: 50px;
}

.popup-work .popup-wrapper {
  background-color: #f8f8f8;
}

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table__row:not(:last-child) {
  margin-bottom: 15px;
}

.table__title {
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  width: 80px;
  font-size: 18px;
}

.humb-menu__copy {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin: 0 -15px;
  text-align: center;
}

.humb-menu li {
  text-transform: uppercase;
  font-size: 20px;
}

.humb-menu li:not(:last-child) {
  margin-bottom: 20px;
}

.humb-menu i {
  margin-right: 12px;
  width: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.humb-menu .humb-wrapper {
  padding: 90px 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f8f8;
}

.humb-menu .header__nav {
  display: block;
  margin-left: 0;
}

.humb-menu .header__nav ul {
  display: block;
}

@media (max-width: 1200px) {
  .skills__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-bottom: 30px;
  }

  .skills__bg {
    display: none;
  }

  .reviews__body {
    padding-left: 30px;
  }

  .reviews__man:before {
    left: -4px;
  }

  .reviews__man {
    padding-right: 30px;
  }

  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

@media (max-width: 992px) {
  .show992 {
    display: block;
  }

  .hide992 {
    display: none;
  }

  .popup-wrapper {
    border-radius: 0;
    width: 100%;
    top: 0;
    min-height: 100%;
    margin: 0;
  }

  .header__nav li:not(:last-child) {
    margin-right: 20px;
  }

  .hello {
    background: url(../img/wawes.svg) no-repeat right -100px bottom -250px/cover;
  }

  .portfolio__work {
    width: calc(33.333% - 30px);
  }

  .reviews__body:after {
    display: none;
  }

  .reviews__man:before {
    display: none;
  }

  .popup-contact__text {
    margin-right: 0;
  }

  .popup-thanks__btn {
    margin-top: auto;
  }

  .popup-thanks .popup-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .popup-work__text {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .show768 {
    display: block;
  }

  .hide768 {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__lang {
    margin-left: auto;
    margin-right: 30px;
    padding: 3px 8px;
  }

  .hello {
    background: url(../img/wawes.svg) no-repeat right -100px bottom -400px/cover;
  }

  .portfolio__nav {
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 8px;
  }

  .portfolio__work {
    width: calc(50% - 30px);
  }

  .popup-work__work-elem {
    max-height: 450px;
    height: 450px;
  }
}

@media (max-width: 576px) {
  .btn-fill,
  .btn-transp {
    width: 100%;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .text-1 {
    font-size: 16px;
    color: #858585;
  }

  .text-2 {
    font-size: 14px;
    color: #858585;
  }

  .text-3 {
    font-size: 16px;
    color: #858585;
  }

  .text-4 {
    font-size: 14px;
    color: #858585;
  }

  .container {
    max-width: 1180px;
    padding: 0 20px;
  }

  .show576 {
    display: block;
  }

  .hide576 {
    display: none;
  }

  .header {
    height: 60px;
  }

  .hello {
    background: url(../img/wawes.svg) no-repeat right -100px bottom -450px/cover;
  }

  .hello__cont {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding-bottom: 50px;
  }

  .hello__name p {
    font-size: 32px;
  }

  .hello__control a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .hello__control {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .hello__social {
    bottom: 20px;
  }

  .skills__content {
    margin-left: 0;
    margin-right: 0;
  }

  .skills__special {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .portfolio__block {
    margin-right: 0;
    margin-left: 0;
  }

  .portfolio__work {
    width: 100%;
  }

  .reviews__elem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .reviews__body {
    border-radius: 0;
    padding: 20px;
    min-height: 210px;
  }

  .reviews__man {
    border-radius: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .reviews__man-wrap {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 10px;
    border: solid 1px #181818;
  }

  .contact {
    background: transparent;
  }

  .contact__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__textarea .input-block {
    height: auto;
  }

  .contact__textarea textarea {
    height: 120px;
  }

  .contact__textarea {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .footer {
    padding: 15px;
  }

  .popup-contact__btns > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .popup-contact__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px;
  }

  .popup-contact .popup-wrapper {
    padding: 20px 20px 25px 20px;
  }

  .popup-work__work-elem {
    max-height: 400px;
    height: auto;
  }

  .popup-work__btns > *:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .popup-work__btns {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .popup-work .popup-wrapper {
    padding: 20px 20px 25px 20px;
  }

  .table__title {
    font-size: 14px;
  }
}